:root {
  --color-main: #212121;
  --color-black: #000000;
  --color-second: #757575;
  --color-acent: #2196f3;
  --color-white: #ffffff;
  --color-grey: #2f303a;
  --color-facent: #188ce8;
  --color-lgrey: #f5f4fa;
  --color-border: #ececec;
  --color-examp-border: #eeeeee;
  --color-icon: #afb1b8;
}
